<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzyd.test.mapper.UserProductMapper">
  <resultMap id="BaseResultMap" type="com.lzyd.test.pojo.UserProduct">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="v" jdbcType="INTEGER" property="v" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_product
    where v = #{v,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lzyd.test.pojo.UserProduct">
    insert into user_product (id, product_name)
    values (#{id,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lzyd.test.pojo.UserProduct">
    insert into user_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lzyd.test.pojo.UserProduct">
    update user_product
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lzyd.test.pojo.UserProduct">
    update user_product
    set product_name = #{productName,jdbcType=VARCHAR}
    where v = #{v,jdbcType=INTEGER}
  </update>
  
  
  
</mapper>