<p>
    <br /></p>
<section style="color: rgb(51, 51, 51);font-family: mp-quote, -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;font-size: 17px;text-align: justify;white-space: normal;">
    <section style="width: 638px;text-align: left;">
        <section style="display: flex;justify-content: space-between;">
            <section style="flex: 1 1 0%;">
                <section style="padding: 1em;font-size: 14px;text-align: justify;line-height: 1.3em;color: rgb(63, 62, 63);">
                    <p style="color: rgb(51, 51, 51);font-family: mp-quote, -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;font-size: 17px;text-align: justify;white-space: normal;">
                        <strong style="color: rgb(63, 62, 63);font-size: 16px;">长按二维码3秒即可联系</strong>
                        <br /></p>
                    <p style="color: rgb(51, 51, 51);font-family: mp-quote, -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;font-size: 17px;text-align: justify;white-space: normal;">
                        <br /></p>
                    <p style="color: rgb(51, 51, 51);font-family: mp-quote, -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;font-size: 17px;text-align: justify;white-space: normal;">
                        <strong style="color: rgb(63, 62, 63);font-size: 17px;">
                            <br /></strong>
                    </p>
                    <p>
                        <strong style="font-size: 17px;">添加助力微信</strong>
                        <br /></p>
                    <p>
                        <br /></p>
                    <p>
                        <br /></p>
                    <p>
                        <strong style="font-size: 17px;">所有资料，加完即得!</strong></p>
                </section>
            </section>
            <p>
                <img class="rich_pages" data-ratio="0.6666666666666666" data-s="300,640" data-type="jpeg" data-w="258" data-src="${service_qrCode}" style="width: 160px;height: auto;float: right;max-width: 100% !important;" /></p>
        </section>
    </section>
</section>
<p>
    <br /></p>
<p style="color: rgb(51, 51, 51);font-family: mp-quote, -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;font-size: 17px;text-align: justify;white-space: normal;">
    <br /></p>
<p style="color: rgb(51, 51, 51);font-family: mp-quote, -apple-system-font, BlinkMacSystemFont, &quot;Helvetica Neue&quot;, &quot;PingFang SC&quot;, &quot;Hiragino Sans GB&quot;, &quot;Microsoft YaHei UI&quot;, &quot;Microsoft YaHei&quot;, Arial, sans-serif;font-size: 17px;text-align: justify;white-space: normal;">
  <span style="font-size: 20px;">
    <strong style="text-align: center;font-size: 18px;">&nbsp;&nbsp;</strong></span>
</p>
<p>
  <span style="font-size: 20px;">
    <strong style="text-align: center;font-size: 18px;">
      <br /></strong>
  </span>
</p>
<p>
    <br /></p>